.menu-btn {
  width: 3rem;
  height: 3rem;
  background: transparent;
  border: none;
  display: flex;    
  flex-direction: column;
  justify-content: space-around;
  margin-right: 2rem;
  cursor: pointer;
}

.menu-btn span {
  display: block;
  width: 3rem;
  height: 2.5px;
  background: white;
}

.title {
  color: white;
}

.title a {
  text-decoration: none;
  color: white;
}

.header-nav {
  display: none;
}

.drawer-nav {
  height: 100%;
}

@media (min-width: 768px) {
  .menu-btn {
    display: none;
  }

  .header-nav {
    display: block;
  }
}
